<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Inicio</title>
</head>
<body>
    <H1>ESTO SOLO ES UNA PAGINA DE PRUEVA NO TOMAR EN CUENTA</H1>
    <h2>BIENVENIDO SEÑOR@ USUARIO {{ session.name }}</h2>
<form method="post" action="/store" enctype="multipart/form-data">
    <center>
    Nombre:
    <input type="text" name="Nombre" id="Nombre">
    <br>
    ID
    <input type="text" name="ID" id="ID">
    <br>
    Correo
    <input type="text" name="Foto" id="Foto">
    <br>
    Numero
    <input type="text" name="Foto" id="Foto">
    <br>
    Fecha
    <input type="text" name="Foto" id="Foto">
    <br>
    Contraseña
    <input type="text" name="Foto" id="Foto">
    <br>


    <input type="submit" value="Agregar">

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>numero</th>
                <th>Fecha Nacimiento</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            {% for empleados in empleados %}
            <tr>
                <td>{{empleados[0]}}</td>
                <td>{{empleados[1]}}</td>
                <td>{{empleados[2]}}</td>
                <td>{{empleados[3]}}</td>
                <td>{{empleados[4]}}</td>
                <td>Eliminar | Editar</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    </center>

</form>
</body>
</html>


-->




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Compamovil</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@300;500;700&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Header Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 bg-secondary d-none d-lg-block">
                <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <h1 class="m-0 display-4 text-primary text-uppercase">Compamovil</h1>
                </a>
            </div>
            <div class="col-lg-8">
                <div class="row bg-white border-bottom d-none d-lg-flex">
                    <div class="col-lg-7 text-left">
                        <div class="h-100 d-inline-flex align-items-center py-2 px-3">
                            <i class="fa fa-envelope text-primary mr-2"></i>
                            <small>info@example.com</small>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2 px-2">
                            <i class="fa fa-phone-alt text-primary mr-2"></i>
                            <small>+012 345 6789</small>
                        </div>
                    </div>
                    <div class="col-lg-5 text-right">
                        <div class="d-inline-flex align-items-center p-2">
                            <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-primary btn-sm-square mr-2" href="">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-white navbar-light p-0">
                    <a href="/" class="navbar-brand d-block d-lg-none">
                        <h1 class="m-0 display-4 text-primary text-uppercase">Justice</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/home" class="nav-item nav-link active">Home</a>
                            {% if session.name == 2 %}
                            <a href="/Gestion_dispositivos" class="nav-item nav-link">Gestionar dispocitivos</a>
                            {% endif %}
                            <a href="#" class="nav-item nav-link">Favoritos</a>

                        </div>
                        <header class="header">
                            <a href="/perfil"><img class="header__img" src="/img" alt=""
                                style="width: 80px; border-radius: 100%; margin-left: 50px; margin-top: 5px;">
                            </a>
                            <div class="header__menu">
                                <div class="header__menu--profile">

                                    <a class="btn btn-primary px-3 mt-1" href="/" style="margin-bottom: 12px;">Cerrar
                                        Sesión</a>
                                </div>
                            </div>
                        </header>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <div>
    <center>
        <div class="box">
            <div style="margin-bottom: 20px; margin-top: 20px;"class="container-3">
            </div>
            <div class="container-fluid py-5">
                <div class="container py-5">
                    <div>
                        <div class="row h-100 align-items-center justify-content-center">
                            <div class="col-lg-6 py-5">
                                <div class="rounded p-5 my-5" style="background: rgba(55, 55, 63, .7);">
                                    <h1 class="text-center text-white mb-4">Registrar Dispocitivo</h1>
                                    <form method="post" action="/store_Aparato">



                                        <div class="form-group">  <!-- PROCESADOR -->
                                            <input type="text" name="Procesador" id="Procesador" class="form-control border-0 p-4" placeholder="Procesador" required="required" />
                                        </div>
        
                                        <div class="form-group"><!-- Software -->
                                            <input type="text" name="Software" id ="Software" class="form-control border-0 p-4" placeholder="Software" required="required" />
                                        </div>
        
        
                                        <div class="form-group"><!-- Conectividad -->
                                            <input name ="Conectividad" id ="Conectividad" class="form-control border-0 p-4" type="text" placeholder="Conectividad" required="required" />
                                        </div>

                                        
                                        <div class="form-group"><!-- Bateria -->
                                            
                                                <input type="text" name="Bateria" id="Bateria"  class="form-control border-0 p-4" placeholder="Bateria" data-target="#date" data-toggle="datetimepicker" />
                                            
                                        </div>
                                        <div class="form-group"><!-- Precio -->
                                            <input name="Precio" id="Precio" class="form-control border-0 p-4" type="text" placeholder="Precio"
                                                required="required" />
                                        </div>
                                        <div>
                                        </div>
        
                                        <div class="form-group"><!-- Resolucion -->
                                            <input name="Resolucion" id="Resolucion" class="form-control border-0 p-4" type="text " placeholder="Resolucion"
                                                required="required" />
                                        </div>  

                                        <div class="form-group"><!-- Uso normal -->
                                            <input name="Uso normal" id="Uso normal" class="form-control border-0 p-4" type="text" placeholder="uso recomendado"
                                                required="required" />
                                        </div> 
                                        
                                        <div class="form-group"><!-- Resumen -->
                                            <textarea id="Resumen" class="form-control" name="Resumen" placeholder="Resumen" rows="5"></textarea>
                                        </div>

                                                                      
                                        <div>
                                            <button class="btn btn-primary btn-block border-0 py-3" type="submit">Crear</button>
                                        </div>
                                        
        
        
        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
    </center>
    </div>



    <!-- Footer Start -->

    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>