
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <H1></H1>
    <h2></h2>
    <div class="jumbotron">
        <h1 class="display-4">ESTO SOLO ES UNA PAGINA DE PRUEBA NO TOMAR EN CUENTA</h1>
        <p class="lead">BIENVENIDO {{user}}</p>
        <hr class="my-4">
        <p>Content</p>

        <ul class="list-group">
            <li class="list-group-item active">Text</li>
            <li class="list-group-item disabled" aria-disabled="true">Disabled item</li>
        </ul>

        <ul class="list-unstyled">
            <li>Text</li>
        </ul>        
    </div>
    
</body>
</html>